<!--<div class="container"  *ngIf="isShowing">-->
<div class="container">
  <form [formGroup]="searchName">
    <div class="row">
      <div class="input-group mb-12">
        <div class="input-group-append">
          <button class="btn btn-success btn-block" (click)="onShowing()" type="button">بحث</button>
        </div>

        <input dir="rtl" type="text" class="form-control" formControlName="name" placeholder="أدخل الاسم"
               aria-label="Recipient's username" aria-describedby="basic-addon2">

        <select formControlName="serachType" name="" id="" class="form-control" style="list-style-type:arabic-indic ;direction:RTL; text-align: right">
          <option *ngFor="let serachtype of serachtypes" value="{{serachtype.value}}">{{serachtype.name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">



        <table class="table" style="list-style-type:arabic-indic ;direction:RTL; text-align: right">
          <tr>
            <th>
              اسم
            </th>
            <th>
              اسم العائلة
            </th>
            <th>
              اسم الأب
            </th>
          </tr>
          <div class="loading-indicator" *ngIf="isloaed">
          <mat-spinner style="margin:0 auto;"
                       mode="indeterminate"></mat-spinner>
          </div>

          <tr *ngFor="let name of names" (click)="onSelectedName(name)">
            <td>
              {{name.name}}
            </td>
            <td>
              {{name.Name_Father}}
            </td>
            <td>
              {{name.last_name}}
            </td>
          </tr>


        </table>

      </div>
    </div>
  </form>
</div>
