<div class="container-fluid">
<form [formGroup]="secondPage">
  <div class="row">
    <div class="col-sm-4">
      <div><span style="float: right;">نموذج رقم ( إ . إ . ١ </span><span style="float: right;">(</span></div>
      <div
        class="black-box"
        style="margin-top: 70px; display: table; padding: 10px;"
      >
        <input
          type="text"
          class="w-25"
          style="margin-left: 25px; clear: right; border-bottom: 2px solid #000;"
        />
        <span style="float: right; clear: right;"> :الرقم المتسلسل</span>
        <div style="margin-top: 30px;">
          <span style="float: right;"> :التاريخ</span>
          <input
            type="text"
            style="width: 10%; float: right; margin-right: 20px;"
          />
          <span style="float: right;">/</span>
          <input type="text" style="width: 10%; float: right;" />
          <span style="float: right;">/</span>
          <input type="text" style="width: 10%; float: right;" />
          <span style="float: right;">٢٠٢</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-5">
      <img
        class="title-text"
        style="margin-bottom: 20px;"
        src="../../assets/images/image001.jpg"
        alt="logo"
      />
      <span class="title-text" style="font-size: 22px; font-weight: bold;">
        إفادة حصر إرث</span
      >
    </div>
    <div class="col-sm-4">
      <div style="display: table; width: 100%;">
        <span
          class="right-side"
          style="margin-bottom: 5px; clear: right; font-size: 22px; font-weight: bold"
          >الجمهورية اللبنانية</span
        >
        <span class="right-side" style="clear: right;"
          >وزارة الداخلية و البلديات</span
        >
      </div>
      <div
        class="black-box"
        style="display: table; width: 100%; margin-top: 50px; padding: 5px 0; padding-right: 10px; line-height: 50px;"
      >
        <div>
          <span style="float: right;width: 49px;">:المحافظة</span>
          <input
            type="text"
            style="float: right;margin-right: 2%; width: 50%;"
            value="الجنوب"
            readonly="true"
          />
        </div>
        <div style="margin-top: 35px;">
          <span style="float: right; clear: right; width: 40px;">:القضاء</span>
          <input
            type="text"
            style="float: right;margin-right: 2%; width: 50%;"
            value="صيدا"
            readonly="true"
          />
        </div>
        <div style="margin-top: 35px;">
          <input
          type="text"
          style="float: right; clear: right;width: 97px;"
          value=":مختار بلدة / حي"
          readonly="true"
        />
          <input
            type="text"
            style="float: right;width: 50%;"
            value="عين الدلب"
            readonly="true"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 25px; font-size: 20px;">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-5">
          <span style="float: right;">المحترم</span>
          <input type="text" style="float: right; width: 50%;" />
        </div>
        <div class="col-sm-6">
          <span style="float: right;"> حضرة القاضي</span>
          <input type="text" style="float: right; width: 50%;" />
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <table style="margin-top: 20px;">
        <tr>
          <td></td>
          <td></td>
          <td style="text-align: right;">المتوﻓ</td>
        </tr>
        <tr>
          <td></td>
          <td style="width: 80%;">
            <table style="padding: 0px; margin: 0px; border: 0px solid #000;">
              <tr style="border: 0px; border-bottom: 2px solid #000;">
                <td class="inner-td">
                  <span style="float: right;">اسم الأب</span>
                  <input formControlName="Name_Father" type="text" style="float: right; width: 50%;" />
                </td>
                <td class="inner-td">
                  <span style="float: right;">الاسم</span>
                  <input formControlName="name" type="text" style="float: right; width: 50%;" />
                </td>
              </tr>
              <tr style="border: 0px; border-bottom: 2px solid #000;">
                <td class="inner-td">
                  <span style="float: right;">اسم وشهرة الأم</span>
                  <input formControlName="mother_last_name" type="text" style="float: right; width: 50%;" />
                </td>
                <td class="inner-td">
                  <span style="float: right;">الشهرة</span>
                  <input formControlName="last_name" type="text" style="float: right; width: 50%;" />
                </td>
              </tr>
              <tr style="border: 0px; border-bottom: 2px solid #000;">
                <td class="inner-td">
                  <span style="float: right;">تاريخ الولادة</span>
                  <input formControlName="Birth" type="text" style="float: right; width: 50%;" />
                </td>
                <td class="inner-td">
                  <span style="float: right;">محل الولادة</span>
                  <input type="text" style="float: right; width: 50%;" />
                </td>
              </tr>
              <tr style="border: 0px; border-bottom: 2px solid #000;">
                <td class="inner-td">
                  <span style="float: right;">القضاء</span>
                  <input type="text" style="float: right; width: 50%;" />
                </td>
                <td class="inner-td">
                  <span style="float: right;">( محل القيد)</span>
                  <input type="text" style="float: right; width: 50%;" />
                </td>
              </tr>
              <tr style="border: 0px; border-bottom: 2px solid #000;">
                <td class="inner-td">
                  <span style="float: right;">تاريخ الوفاة</span>
                  <input
                    type="text"
                    style="width: 50%; float: right; margin-right: 20px;"
                  />
                </td>
                <td class="inner-td">
                  <span style="float: right;">رقم السجل</span>
                  <input formControlName="record" type="text" style="float: right; width: 50%;" />
                </td>
              </tr>
              <tr style="border: 0px;">
                <td></td>
                <td>
                  <span style="float: right;">:تاريخ الوفاة بالأحرف</span>
                  <input type="text" style="float: right; width: 50%;" />
                </td>
              </tr>
            </table>
          </td>
          <td>
            <span style="float: right;">معلومات عن</span>
            <span style="float: right">المتوﻓ</span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <span style="float: right;">وقد إنحصر الإرث</span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="padding-bottom: 20px;">
            <div>
              <input
                type="text"
                style="float: left;margin-top: 20px;width: 15%;"
                value='٥٦١٦٩١/٣.'
                readonly="true"
              />
              <span style="float: left; margin-top: 20px; margin-left: 5px;"
              > : هاتف </span
              >

              <span style="float: right; margin-top: 20px;margin-left: 5px;"
              > : اسم و شهرة المختار </span
              >
              <input
                type="text"
                style="float: right;margin-top: 20px;width: 30%;"
                value="مارك الحاج"
                readonly="true"
              />
            </div>
            <div>
              <span
                style="float: left; clear: left; margin-left: 10%; margin-top: 15px; text-decoration: underline; font-weight: bold;"
                >ختم و توقيع المختار
              </span>
            </div>
            <div
              class="black-box"
              style="float: left; clear: left; margin-left: 35%; padding: 0 20px; padding-top:5px; padding-bottom: 50px;"
            >
              <span style="float: left;">طابع </span>
              <span style="float: left; clear: left;">مختار</span>
            </div>
            <div
              class="black-box"
              style="float: left; margin-left: 55px; padding: 0 5px; padding-top:5px; padding-bottom: 50px;"
            >
              <span style="float: left;">طابع مالي </span>
              <span style="float: left; clear: left;"> ١٠٠٠ل.ل</span>
            </div>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-3"></div>
  </div>
</form>
</div>
