 <form [formGroup]="seventhpage">
 <div class="row">
            <div class="col-sm-2" style="border: 2px solid #000; line-height: 50px;">
                <span style="display: table; margin: 0 auto;">صورة ثانبة</span>
                <span style="display: table; margin: 0 auto; clear: right;">مصدقة</span>
                <span style="display: table; margin: 0 auto; clear: right;">مع أتاش</span>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2" style="border: 2px solid #000; line-height: 50px;">
                <span style="display: table; margin: 0 auto;">صورة أولى</span>
                <span style="display: table; margin: 0 auto; clear: right;">مصدقة</span>
                <span style="display: table; margin: 0 auto; clear: right;">مكبسة</span>
            </div>
            <div class="col-sm-2">
                <img class="title-text" style="margin-bottom: 20px;" src="../../assets/images/image001.jpg" alt="logo">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <span class="right-side" style="font-size: 25px; text-decoration: underline;">ٳفادة تعريف</span>
                <span class="right-side" style="font-size: 18px; text-decoration: underline; clear: right;">- لزوم طلب بطاقة الهوية -</span>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <span class="right-side"> 
                   : مختار محلة 
                </span>
                <input
                type="text"
                style="float: right;margin-right: 2%; width: 50%;"
                value="عين الدلب"
                readonly="true"
              />
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <span class="right-side">أنا الموقع أدناه </span>
                <input
                type="text"
                style="float: right; margin-right: 2%; width: 50%;"
                value="مارك الحاج"
                readonly="true"
              />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">أفيد أن السيد / ة </span>
                <input formControlName="Full_name" type="text" class="right-side" style="border-bottom: 2px dotted #000;width: 23%;">
                <span class="right-side">مواليد</span>
                <input formControlName="Birth" type="text" class="right-side" style="border-bottom: 2px dotted #000; width: 20.5%">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">قضاء</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; " value="صيدا">
                <span class="right-side">محل و رقم القيد</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:30%;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">"ه         معروف مني شخصيا</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">وه         مقيم في محلتي : ملك</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000;">
                <span class="right-side">بناية</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:15%;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">شارع</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:40%;">
                <span class="right-side">الحي</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:40%;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">رقم الهاتف </span>
                <input formControlName="phone" type="text" class="right-side" style="border-bottom: 2px dotted #000; width:40%;">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <span class="right-side" style="font-weight: bold; font-size: 22px; text-decoration: underline;">:تعريف من قبل شاهدين</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">:شاهد أول</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:35%;">
                <span class="right-side">مواليد</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:40%;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">قضاء</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:35%;">
                <span class="right-side"> محل و رقم القيد</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:35%;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">رقم الهاتف</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:25%;">
                <span class="right-side">رقم و نوع مستند التعريف</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:30%;">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-2 black-box">
                <span style="font-size: 12px;">طابع  ١٠٠٠ل.ل</span>
            </div>
            <div class="col-sm-4">
                <span class="right-side">توقيع الشاهد الأول</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:30%;">                
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <span class="right-side">:شاهد ثان</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:45%;">
                <span class="right-side">مواليد</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:25%;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">قضاء</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:35%;">
                <span class="right-side"> محل و رقم القيد</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:35%;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">رقم الهاتف</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:25%;">
                <span class="right-side">رقم و نوع مستند التعريف</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:30%;">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-2 black-box">
                <span style="font-size: 12px;">طابع  ١٠٠٠ل.ل</span>
            </div>
            <div class="col-sm-4">
                <span class="right-side">توقيع الشاهد الثاني</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:30%;">                
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-4">
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width: 25%;">
                <span class="right-side">/</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width: 25%;">
                <span class="right-side">/</span>
                <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width: 25%;">
                <span class="right-side">في</span>
            </div>
            <div class="col-sm-8"></div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4" style="text-align: center; font-size: 20">
                <span>للمصادقة</span>
            </div>
            <div class="col-sm-8"></div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="text-align: center; font-size: 20">
                <span>خاتم و توقيع المختار</span>
            </div>
            <div class="col-sm-8">
                <span class="right-side">ربطا" :   بيان قيد ٳفرادي لا يتجاوز تاريخ اصداره السنة </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side mr-4">محضر مصدق من قوى الأمن الداخلي (لطلب هوية بدل عن ضائع)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 black-box">
                <span style="font-size: 12px;">طابع  ١٠٠٠ل.ل</span>
            </div>
            <div class="col-sm-10"></div>
        </div>

    </form>