  <form [formGroup]="ninthpage">
  <div class="row">
            <div class="col-sm-4">
                <div><span style="float: right;">     نموذج رقم ( ت - س - ع -  ١ </span><span style="float: right;">(</span></div>
                <div class="black-box" style="margin-top: 70px; display: table; padding: 10px;">
                    <input type="text" class="w-25" style="margin-left: 25px; clear: right; border-bottom: 2px solid #000;">
                    <span style="float: right; clear: right;"> :الرقم المتسلسل</span>
                    <div style="margin-top: 30px;">
                        <span style="float: right;"> :التاريخ</span>
                        <input type="text" style="width: 10%; float: right; margin-right: 20px;">
                        <span style="float: right;">/</span>
                        <input type="text" style="width: 10%; float: right;">
                        <span style="float: right;">/</span>
                        <input type="text" style="width: 10%; float: right;">
                        <span style="float: right;">٢٠٢</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-5">
                <img class="title-text" style="margin-bottom: 20px;" src="../../assets/images/image001.jpg" alt="logo">
            </div>
            <div class="col-sm-4 mr-0 pr-0">
                <div style="display: table; width: 100%;"> 
                    <span class="right-side" style="margin-bottom: 5px; clear: right; font-size: 22px; font-weight: bold">الجمهورية اللبنانية</span>           
                    <span class="right-side" style="clear: right;">وزارة الداخلية و البلديات</span>
                </div>
                <div class="black-box" style="display: table; width: 100%; margin-top: 50px; padding: 5px 0; padding-right: 10px; line-height: 50px;">
                    <div>
                        <span style="float: right;width: 49px;">:المحافظة</span>
                        <input
                        type="text"
                        style="float: right; margin-right: 2%; width: 50%;"
                        value="الجنوب"
                        readonly="true"
                      />
                    </div>
                    <div style="margin-top: 35px;">
                        <span style="float: right; clear: right;width: 40px;">:القضاء</span>
                        <input
                        type="text"
                        style="float: right; margin-right: 2%; width: 50%;"
                        value="صيدا"
                        readonly="true"
                      />
                    </div>
                    <div style="margin-top: 35px;">
                        <input
                        type="text"
                        style="float: right; clear: right;width: 97px;"
                        value=":مختار بلدة / حي"
                        readonly="true"
                      />
                        <input
                        type="text"
                        style="float: right; width: 50%;"
                        value="عين الدلب"
                        readonly="true"
                      />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="title-text" style="font-size: 22px; font-weight: bold;">/ تفويض للحصول على بيان السجل العدلي رقم / ٢</span>
            </div>
        </div>
        <div class="row black-box mt-4">
            <div class="col-sm-12">
                <span class="right-side">صاحب التفويض</span>
                <input type="text" class="right-side mr-2" style="width: 80%;">
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row">
                    <div class="col-sm-12" style="border-bottom: 2px solid #000;">
                        <span class="right-side">الاسم</span>
                        <input formControlName="name" type="text" class="right-side mr-2" style="width: 80%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="border-bottom: 2px solid #000;">
                        <span class="right-side">اسم الأب</span>
                        <input formControlName="Name_Father" type="text" class="right-side mr-2" style="width: 80%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="border-bottom: 2px solid #000;">
                        <span class="right-side">الشهرة</span>
                        <input formControlName="last_name" type="text" class="right-side mr-2" style="width: 80%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="border-bottom: 2px solid #000;">
                        <span class="right-side">اسم وشهرة الأم</span>
                        <input formControlName="mother_last_name" type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                </div>
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-6" style="border-right: 2px solid #000;">
                        <span class="right-side">محل الولادة</span>
                        <input type="text" class="right-side mr-2" style="width: 65%;">
                    </div>
                    <div class="col-sm-6">
                        <span class="right-side">تاريخ الولادة</span>
                        <input formControlName="Birth" type="text" class="right-side mr-2" style="width: 65%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" style="border-right: 2px solid #000;">
                        <span class="right-side">رقم السجل</span>
                        <input formControlName="record" type="text" class="right-side mr-2" style="width: 65%;">
                    </div>
                    <div class="col-sm-6">
                        <span class="right-side" style="width: 60px;">(محل القيد)</span>
                        <span class="right-side mr-2"> بلدة / حي</span>
                        <input type="text" class="right-side mr-2" style="width: 40%;">
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="font-weight: bold;">
                <span class="right-side" style="clear: right;">معلومات عن </span>
                <span class="right-side" style="clear: right;">صاحب التفويض</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-6" style="border-right: 2px solid #000;">
                        <span class="right-side">القضاء</span>
                        <input type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                    <div class="col-sm-6">
                        <span class="right-side">المحافظة</span>
                        <input type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                </div>
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-4" style="border-right: 2px solid #000;">
                        <span class="right-side">الشارع</span>
                        <input type="text" class="right-side mr-2" style="width: 30%;">
                    </div>
                    <div class="col-sm-4" style="border-right: 2px solid #000;">
                        <span class="right-side">الحي</span>
                        <input type="text" class="right-side mr-2" style="width: 30%;">
                    </div>
                    <div class="col-sm-4">
                        <span class="right-side">البلدة / المدينة</span>
                        <input type="text" class="right-side mr-2" style="width: 30%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="border-right: 2px solid #000;">
                        <span class="right-side">رقم الهاتف</span>
                        <input type="text" class="right-side mr-2" style="width: 30%;">
                    </div>
                    <div class="col-sm-4" style="border-right: 2px solid #000;">
                        <span class="right-side">الطابق</span>
                        <input type="text" class="right-side mr-2" style="width: 30%;">
                    </div>
                    <div class="col-sm-4">
                        <span class="right-side">البناية</span>
                        <input type="text" class="right-side mr-2" style="width: 30%;">
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="font-weight: bold;">
                <span class="right-side" style="clear: right;">عنوان</span>
                <span class="right-side" style="clear: right;">السكن</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-12">
                <span class="right-side" style="font-weight: bold;">:اني أفوض السيد</span>
                <input type="text" class="right-side mr-2" style="width: 80%;">
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-6" style="border-right: 2px solid #000;">
                        <span class="right-side">اسم الأب</span>
                        <input type="text" class="right-side mr-2" style="width: 40%;">
                    </div>
                    <div class="col-sm-6">
                        <span class="right-side">الاسم و الشهرة</span>
                        <input type="text" class="right-side mr-2" style="width: 40%;">
                    </div>
                </div>
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-6" style="border-right: 2px solid #000;">
                        <span class="right-side">محل و تاريخ الولادة </span>
                        <input type="text" class="right-side mr-2" style="width: 40%;">
                    </div>
                    <div class="col-sm-6">
                        <span class="right-side">اسم وشهرة الأم</span>
                        <input type="text" class="right-side mr-2" style="width: 40%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" style="border-right: 2px solid #000;">
                        <span class="right-side">رقم الهاتف</span>
                        <input type="text" class="right-side mr-2" style="width: 40%;">
                    </div>
                    <div class="col-sm-6">
                        <span class="right-side">محل و رقم القيد</span>
                        <input type="text" class="right-side mr-2" style="width: 40%;">
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="font-weight: bold;">
                <span class="right-side" style="clear: right;">معلومات عن</span>
                <span class="right-side" style="clear: right;">المفوض</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-1"></div>
            <div class="col-sm-1 mt-3 mb-3 pb-3 pl-3 pr-3 black-box">
                <span class="right-side">طابع مالي</span>
                <span class="right-side" style="clear: right; font-size: 10px;"> ١٠٠٠ل.ل</span>
            </div>
            <div class="col-sm-8" style="border-right: 2px solid #000;">
                <div class="row mt-2">
                    <div class="col-sm-12" style="text-align: center; font-size: 14px;">
                        <span>أن يستحصل لي على بيان السجل العدلي رقم  / ٢ / من الدائرة المختصة</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <span class="right-side">الاسم و الشهرة</span>
                        <input type="text" class="right-side" style="border-bottom: 2px solid #000;">
                        <span class="right-side">توقيع صاحب التفويض</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="font-weight: bold;">
                <span class="right-side" style="clear: right;">توقيع صاحب</span>
                <span class="right-side" style="clear: right;">التفويض</span>
            </div>
        </div>
        <div class="row" style="border: 2px solid #000; border-top: 0;">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <span class="right-side"> : هاتف</span>
                        <input
                        class="right-side"
                                type="text"
                                style="width: 40%;margin-right: 2%;"
                                value='٥٦١٦٩١/٣.'
                                readonly="true"/>
                         
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <span class="right-side"
                        > : اسم و شهرة المختار </span
                      >
                      <input
                      class="right-side"
                      type="text"
                      style="width: 60%;margin-right: 2%;"
                      value="مارك الحاج"
                      readonly="true"
                    />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="right-side">:أصادق على صحة توقيع مقدم الطلب استنادا الى</span>
                        <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:20%;">
                        <span class="right-side">رقم</span>
                        <input type="text" class="right-side" style="border-bottom: 2px dotted #000; width:20%;">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                        <span class="right-side" style="font-weight: bold; text-decoration: underline;"> توقيع خاتم المختار </span>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-1 mt-3 mb-3 pb-3 pl-3 pr-3" style="border: 2px solid #000;">
                        <span class="right-side">طابع</span>
                        <span class="right-side" style="clear: right;">المختار</span>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1 mt-3 mb-3 pb-3 pl-3 pr-3" style="border: 2px solid #000;">
                        <span class="right-side">طابع مالي</span>
                        <span class="right-side" style="clear: right; font-size: 10px;"> ١٠٠٠ل.ل</span>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </form>