  <form [formGroup]="twelvethpage">
  <div class="row">
            <div class="col-sm-4">
                <div><span style="float: right;">     نموذج رقم (  ٳ -  م  -  ٢  </span><span style="float: right;">(</span></div>
                <div class="black-box" style="margin-top: 70px; display: table; padding: 10px;">
                    <span style="float: right;"> :الرقم المتسلسل</span>
                    <input type="text" class="w-25 right-side" style="border-bottom: 2px solid #000;">
                    <div style="margin-top: 30px;">
                        <span style="float: right;"> :التاريخ</span>
                        <input type="text" style="width: 10%; float: right; margin-right: 20px; border-bottom: 2px solid #000;">
                        <span style="float: right;">/</span>
                        <input type="text" style="width: 10%; float: right; border-bottom: 2px solid #000;">
                        <span style="float: right;">/</span>
                        <input type="text" style="width: 10%; float: right; border-bottom: 2px solid #000;">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-5">
                <img class="title-text" style="margin-bottom: 20px;" src="../../assets/images/image001.jpg" alt="logo">
            </div>
            <div class="col-sm-4 mr-0 pr-0">
                <div style="display: table; width: 100%;"> 
                    <span class="right-side" style="margin-bottom: 5px; clear: right; font-size: 22px; font-weight: bold">الجمهورية اللبنانية</span>           
                    <span class="right-side" style="clear: right;">وزارة الداخلية و البلديات</span>
                </div>
                <div class="black-box" style="display: table; width: 100%; margin-top: 50px; padding: 5px 0; padding-right: 10px; line-height: 50px;">
                    <div>
                        <span style="float: right;width: 49px;">:المحافظة</span>
                        <input
                        type="text"
                        style="float: right; margin-right: 2%; width: 50%;"
                        value="الجنوب"
                        readonly="true"
                      />
                    </div>
                    <div style="margin-top: 35px;">
                        <span style="float: right; clear: right;width: 40px;">:القضاء</span>
                        <input
                        type="text"
                        style="float: right; margin-right: 2%; width: 50%;"
                        value="صيدا"
                        readonly="true"
                      />
                    </div>
                    <div style="margin-top: 35px;">
                        <input
                        type="text"
                        style="float: right; clear: right;width: 97px;"
                        value=":مختار بلدة / حي"
                        readonly="true"
                      />
                        <input
                        type="text"
                        style="float: right; width: 50%;"
                        value="عين الدلب"
                        readonly="true"
                      />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="title-text" style="font-size: 22px; font-weight: bold;">ٳفادة   للزوجة  المعيلة</span>
            </div>
        </div>
        <div class="row black-box mt-4">
            <div class="col-sm-12">
                <span class="right-side" style="font-weight: bold;">صاحب العلاقة</span>
                <input type="text" class="right-side mr-2" style="width: 80%;">
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-9">
                        <input formControlName="name" type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                    <div class="col-sm-3" style="border-left:2px solid #000;">
                        <span class="right-side">الاسم</span>
                    </div>
                </div>
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-9">
                        <input formControlName="Name_Father" type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                    <div class="col-sm-3" style="border-left:2px solid #000;">
                        <span class="right-side">اسم الأب</span>
                    </div>
                </div>
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-9">
                        <input formControlName="last_name" type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                    <div class="col-sm-3" style="border-left:2px solid #000;">
                        <span class="right-side">الشهرة</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <input formControlName="mother_last_name" type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                    <div class="col-sm-3" style="border-left:2px solid #000;">
                        <span class="right-side">اسم و شهرة الأم</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="font-weight: bold;">
                <span class="right-side" style="clear: right;">الاسم و الشهرة</span>
                <span class="right-side" style="clear: right;">(حسب الهوية)</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-3">
                        <input formControlName="Nationality" type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000; border-right: 2px solid #000;">
                        <span class="right-side">الجنسية</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                    <div class="col-sm-3" style="border-left:2px solid #000;">
                        <span class="right-side">رقم الهوية</span>
                    </div>
                </div>
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-3">
                        <input formControlName="Birth" type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000; border-right: 2px solid #000;">
                        <span style="text-align: center; font-size: 11px;">تاريخ  الولادة</span>
                        <span style="text-align: center; font-size: 11px;">(حسب الهوية)</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                    <div class="col-sm-3" style="border-left:2px solid #000;">
                        <span class="right-side" style="clear: right;">محل  الولادة</span>
                        <span class="right-side" style="clear: right;">(حسب الهوية)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000; border-right: 2px solid #000;">
                        <span style="text-align: center;">البلدة / المدينة</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="right-side mr-2" style="width: 70%;">
                    </div>
                    <div class="col-sm-3" style="border-left:2px solid #000;">
                        <span class="right-side">رقم السجل</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="font-weight: bold;">
                <span class="right-side" style="clear: right;">معلومات عن </span>
                <span class="right-side" style="clear: right;">صاحب العلاقة</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row mt-2" style="font-size: 13px; font-weight: bold;">
                    <div class="col-sm-4">
                        <span class="right-side">زوجها   و إنه   لا   يتعاطى   أي   عمل(</span>
                    </div>
                    <div class="col-sm-4" style="text-align: center">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                    </div>
                    <div class="col-sm-4">
                        <span style="float: left;">)هي   المعيلة   الوحيدة   لعا ﺋﻠﺗها   بعد</span>
                    </div>
                </div>
                 
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" style="font-size: 12px;">
                        <span class="right-side mr-2">وفاة</span>
                        <span class="right-side">مرض </span>
                        <span class="right-side"> عجز   اعاقة</span>
                        <span class="right-side">غيره حدد</span>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <span class="right-side" style="font-weight: bold;">مأجور   وليس   للعائلة   أي   تعويض   سوى   راتب  صاحب  العلاقة </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="font-weight: bold;">
                <span class="right-side" style="clear: right;">الافادة عن</span>
                <span class="right-side" style="clear: right;">صاحب العلاقة</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-12">
                <span class="right-side" style="font-weight: bold;">و بعد  التأكد  من   المعلومات  وبناء  للطلب  اعطيت  هذه  الافادة</span>
            </div>
        </div>
        <div class="row black-box" style="border-top: 0;">
            <div class="col-sm-12">
                <div class="row mt-3" style="font-weight: bold;">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <span class="right-side"> : مختار بلدة / محلة </span>
                        <input class="right-side" 
                        type="text" 
                        style="width: 60%;margin-right: 2%;"
                        value="عين الدلب"
                        readonly="true" />
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <span class="right-side"> : اسم و شهرة المختار </span>
                        <input class="right-side" 
                        type="text" style="width: 60%;margin-right: 2%;"
                        value="مارك الحاج"
                        readonly="true" />
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <span class="right-side" style="font-weight: bold;"> ختم و توقيع المختار</span>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1 mt-3 mb-3 pb-3 pl-3 pr-3" style="border: 2px solid #000;">
                        <span class="right-side">طابع</span>
                        <span class="right-side" style="clear: right;">المختار</span>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1 mt-3 mb-3 pb-3 pl-3 pr-3" style="border: 2px solid #000;">
                        <span class="right-side">طابع مالي</span>
                        <span class="right-side" style="clear: right; font-size: 10px;"> ١٠٠٠ل.ل</span>
                    </div>
                    <div class="col-sm-4" style="font-weight: bold;">
                        <span style="float: right;"> :التاريخ</span>
                        <input type="text" style="width: 19%; float: right; margin-right: 20px; border-bottom: 2px solid #000;">
                        <span style="float: right;">/</span>
                        <input type="text" style="width: 19%; float: right; border-bottom: 2px solid #000;">
                        <span style="float: right;">/</span>
                        <input type="text" style="width: 19%; float: right; border-bottom: 2px solid #000;">
                        <span class="right-side">.</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
