

  <form [formGroup]="fifthpage">
    <div class="row">
      <div class="col-sm-4">
        <div><span style="float: right;">     نموذج رقم (ٳ -  س - ١  </span><span style="float: right;">(</span></div>
        <div class="black-box" style="margin-top: 70px; display: table; padding: 10px;">
          <input type="text" class="w-25" style="margin-left: 25px; clear: right; border-bottom: 2px solid #000;">
          <span style="float: right; clear: right;"> :الرقم المتسلسل</span>
          <div style="margin-top: 30px;">
            <span style="float: right;"> :التاريخ</span>
            <input type="text" style="width: 10%; float: right; margin-right: 20px;">
            <span style="float: right;">/</span>
            <input type="text" style="width: 10%; float: right;">
            <span style="float: right;">/</span>
            <input type="text" style="width: 10%; float: right;">
            <span style="float: right;">٢٠٢</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-5">
        <img class="title-text" style="margin-bottom: 20px;" src="../../assets/images/image001.jpg" alt="logo">
        <span class="title-text mt-5" style="font-size: 30px; font-weight: bold;">
                    ٳفادة سكن
                </span>
      </div>
      <div class="col-sm-4 mr-0 pr-0">
        <div style="display: table; width: 100%;">
          <span class="right-side" style="margin-bottom: 5px; clear: right; font-size: 22px; font-weight: bold">الجمهورية اللبنانية</span>
          <span class="right-side" style="clear: right;">وزارة الداخلية و البلديات</span>
        </div>
        <div class="black-box"
             style="display: table; width: 100%; margin-top: 50px; padding: 5px 0; padding-right: 10px; line-height: 50px;">
          <div>
            <span style="float: right;width: 49px;">:المحافظة</span>
            <input
              type="text"
              style="float: right; margin-right: 2%; width: 50%;"
              value="الجنوب"
              readonly="true"
            />
          </div>
          <div style="margin-top: 35px;">
            <span style="float: right; clear: right;width: 40px;">:القضاء</span>
            <input
              type="text"
              style="float: right; margin-right: 2%; width: 50%;"
              value="صيدا"
              readonly="true"
            />
          </div>
          <div style="margin-top: 35px;">
            <input
            type="text"
            style="float: right; clear: right;width: 97px;"
            value=":مختار بلدة / حي"
            readonly="true"
          />
            <input
              type="text"
              style="float: right; width: 50%;"
              value="عين الدلب"
              readonly="true"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 black-box">
      <div class="col-sm-10" style="border-right: 2px solid #000;">
        <div class="row" style="border-bottom: 2px solid #000;">
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side">الاسم</span>
            <input formControlName="name" type="text" class="right-side w-50 mr-2">
          </div>
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side">الشهرة</span>
            <input formControlName="last_name" type="text" class="right-side w-50 mr-2">
          </div>
          <div class="col-sm-4">
            <span class="right-side">اسم الأب</span>
            <input formControlName="Name_Father" type="text" class="right-side w-50 mr-2">
          </div>
        </div>
        <div class="row" style="border-bottom: 2px solid #000;">
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side">تاريخ الولادة</span>
            <input formControlName="Birth" type="text" class="right-side mr-2" style="width: 50%;">
          </div>
          <div class="col-sm-3" style="border-right: 2px solid #000;">
            <span class="right-side">محل</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">الولادة</span>
          </div>
          <div class="col-sm-5">
            <span class="right-side">اسم الأم</span>
            <input formControlName="mother_last_name" type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">وشهرتها</span>
          </div>
        </div>
        <div class="row" style="border-bottom: 2px solid #000;">
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side">شهرة الزوج</span>
            <input type="text" class="right-side w-50 mr-2">
          </div>
          <div class="col-sm-3" style="border-right: 2px solid #000;">
            <span class="right-side">اسم الزوج</span>
            <input type="text" class="right-side w-50 mr-2">
          </div>
          <div class="col-sm-3" style="border-right: 2px solid #000;">
            <span class="right-side">الوضع العائلي</span>
            <input type="text" class="right-side w-50 mr-2">
          </div>
          <div class="col-sm-2">
            <span class="right-side">الجنس</span>
            <input formControlName="Sex" type="text" class="right-side w-50 mr-2">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side">المحافظة</span>
            <input type="text" class="right-side mr-2" style="width: 20%;" value="الجنوب">
          </div>
          <div class="col-sm-3" style="border-right: 2px solid #000;">
            <span class="right-side">القضاء</span>
            <input type="text" class="right-side w-50 mr-2" value="صيدا">
          </div>
          <div class="col-sm-5">
            <span class="right-side">مكان و</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">رقم القيد</span>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <span class="right-side" style="clear: right; margin-top: 10%;">معلومات</span>
        <span class="right-side" style="clear: right;">عن</span>
        <span class="right-side" style="clear: right;">صاحب</span>
        <span class="right-side" style="clear: right;">العلاقة</span>
      </div>
    </div>
    <div class="row black-box" style="border-top: 0;">
      <div class="col-sm-4" style="border-right: 2px solid #000;">
        <span class="right-side">تاريخ الاصدار</span>
        <input type="text" class="right-side w-50 mr-2">
      </div>
      <div class="col-sm-4" style="border-right: 2px solid #000;">
        <span class="right-side">رقم</span>
        <input type="text" class="right-side w-50 mr-2">
      </div>
      <div class="col-sm-4">
        <span class="right-side" style="font-weight: bold;">بعد التثبت من (١</span><span style="float: right;font-weight: bold;">:(</span>
        <input type="text" class="right-side mr-2" style="width: 30%;">
      </div>
    </div>
    <div class="row black-box" style="border-top: 0;">
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side">تاريخ الاصدار</span>
            <input type="text" class="right-side w-50 mr-2">
          </div>
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side">نوع و رقم</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">المستند</span>
          </div>
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side">الجنسية</span>
            <input type="text" class="right-side w-50 mr-2">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <span class="right-side">الشخص</span>
        <span class="right-side" style="clear: right">الأجنبي</span>
      </div>
    </div>
    <div class="row black-box" style="border-top: 0;">
      <div class="col-sm-10">
        <div class="row" style="border-bottom: 2px solid #000;">
          <div class="col-sm-5" style="border-right: 2px solid #000;">
            <span class="right-side">القضاء</span>
            <input type="text" class="right-side w-50 mr-2">
          </div>
          <div class="col-sm-7" style="border-right: 2px solid #000;">
            <span class="right-side">المحافظة</span>
            <input type="text" class="right-side w-50 mr-2">
          </div>
        </div>
        <div class="row" style="border-bottom: 2px solid #000;">
          <div class="col-sm-5" style="border-right: 2px solid #000;">
            <span class="right-side">الحي</span>
            <input type="text" class="right-side w-50 mr-2">
          </div>
          <div class="col-sm-7" style="border-right: 2px solid #000;">
            <span class="right-side">البلدة / المدينة	</span>
            <input type="text" class="right-side w-50 mr-2">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2" style="border-right: 2px solid #000;">
            <span class="right-side">الطابق</span>
            <input type="text" class="right-side mr-2 w-50">
          </div>
          <div class="col-sm-3" style="border-right: 2px solid #000;">
            <span class="right-side">البناية</span>
            <input type="text" class="right-side w-50 mr-2">
          </div>
          <div class="col-sm-7" style="border-right: 2px solid #000;">
            <span class="right-side">الشارع</span>
            <input type="text" class="right-side w-50 mr-2">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <span class="right-side">عنوان السكن</span>
        <span class="right-side" style="clear: right">الحالي</span>
      </div>
    </div>
    <div class="row black-box" style="border-top: 0;">
      <div class="col-sm-12">
        <span class="right-side" style="font-weight: bold;">استنادا الى (٢</span><span style="float: right;font-weight: bold;">:(</span>
        <input type="text" class="right-side w-80 mr-2">
      </div>
    </div>
    <div class="row black-box" style="border-top: 0;">
      <div class="col-sm-10">
        <div class="row" style="border-bottom: 2px solid #000;">
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side" style="clear: right;">هاتف</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">العمل</span>
          </div>
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side" style="clear: right;">هاتف</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">خليوي</span>
          </div>
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side" style="clear: right;">هاتف</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">منزل</span>
          </div>
        </div>
        <div class="row" style="border-bottom: 2px solid #000;">
          <div class="col-sm-5" style="border-right: 2px solid #000;">
            <span class="right-side" style="clear: right;">بريد</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">الكتروني</span>
          </div>
          <div class="col-sm-3" style="border-right: 2px solid #000;">
            <span class="right-side" style="clear: right;">صندوق</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">البريد</span>
          </div>
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side" style="clear: right;">رقم</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">الفاكس</span>
          </div>
        </div>
        <div class="row" style="border-bottom: 2px solid #000; text-align: center;">
          <div class="col-sm-12" style="border-right: 2px solid #000;">
            <span>*في حال عدم توفر رقم هاتف لصاحب العلاقة</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5" style="border-right: 2px solid #000;">
            <span class="right-side" style="clear: right;">هاتف</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">القريب</span>
          </div>
          <div class="col-sm-3" style="border-right: 2px solid #000;">
            <span class="right-side" style="clear: right;">صلة</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">القرابة</span>
          </div>
          <div class="col-sm-4" style="border-right: 2px solid #000;">
            <span class="right-side" style="clear: right;">اسم</span>
            <input type="text" class="right-side w-50 mr-2">
            <span class="right-side" style="clear: right;">القريب</span>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <span class="right-side">على</span>
        <span class="right-side" style="clear: right">مسؤولية</span>
        <span class="right-side" style="clear: right;">صاحب</span>
        <span class="right-side" style="clear: right;">العلاقة</span>
      </div>
    </div>
    <div class="row black-box" style="border-top: 0;">
      <div class="col-sm-12 mt-4 mb-4">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <span class="right-side">.بطاقة هوية  أو  بيان قيد افرادي  أو  جواز سفر</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <span class="right-side">سند ملكية  أو  عقد ايجار  أو  ايصال كهرباء  أو  فاتورة هاتف .</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <span class="right-side" style="font-weight: bold; text-decoration: underline;">:تحذير</span>
        <span class="right-side">.ان اي تزوير  في المعلومات الواردة في هذا المستند اذا ثبت يعرض صاحب العلاقة للملاحقة القانونية</span>
      </div>
    </div>
    <div class="row black-box">
      <div class="col-sm-4"></div>
      <div class="col-sm-1 mt-3 pb-3 pl-3 pr-3 black-box" style="border-bottom:0;">
        <span class="right-side">طابع مالي</span>
        <span class="right-side" style="clear: right; font-size: 10px;"> ١٠٠٠ل.ل</span>
      </div>
      <div class="col-sm-1 mt-3 pb-3 pl-3 pr-3 black-box" style="border-left: 0; border-bottom:0;">
        <span class="right-side">طابع </span>
        <span class="right-side" style="clear: right; font-size: 10px;">المختار</span>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-1 mt-3 pb-3 pl-3 pr-3 black-box" style="border-bottom:0;">
        <span class="right-side">طابع مالي</span>
        <span class="right-side" style="clear: right; font-size: 10px;"> ١٠٠٠ل.ل</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row black-box" style="border-top: 0;">
      <div class="col-sm-4">
        <span class="right-side" style="font-weight: bold;">اسم و توقيع و خاتم المختار</span>
        <input type="text"
        class="right-side w-100 mr-2"
        value="مارك الحاج"
        readonly="true">
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <span class="right-side" style="font-weight: bold;"> توقيع صاحب العلاقة </span>
        <input type="text" class="right-side w-100 mr-2">
      </div>
      <div class="col-sm-3"></div>
    </div>
  </form>
