<div class="container-fluid">
<form [formGroup]="fourthpage">
  <div class="row">
    <div class="col-sm-4">
      <div><span style="float: right;">نموذج رقم (ش . س .٣ </span><span style="float: right;">(</span></div>
      <div
        class="black-box"
        style="margin-top: 70px; display: table; padding: 10px;"
      >
        <input
          type="text"
          class="w-25"
          style="margin-left: 25px; clear: right; border-bottom: 2px solid #000;"
        />
        <span style="float: right; clear: right;"> :الرقم المتسلسل</span>
        <div style="margin-top: 30px;">
          <span style="float: right;"> :التاريخ</span>
          <input
            type="text"
            style="width: 10%; float: right; margin-right: 20px;"
          />
          <span style="float: right;">/</span>
          <input type="text" style="width: 10%; float: right;" />
          <span style="float: right;">/</span>
          <input type="text" style="width: 10%; float: right;" />
          <span style="float: right;">٢٠٢</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-5">
      <img
        class="title-text"
        style="margin-bottom: 20px;"
        src="../../assets/images/image001.jpg"
        alt="logo"
      />
      <span class="title-text mt-5" style="font-size: 30px; font-weight: bold;">
        شهادة حسن سلوك
      </span>
    </div>
    <div class="col-sm-4 mr-0 pr-0">
      <div style="display: table; width: 100%;">
        <span
          class="right-side"
          style="margin-bottom: 5px; clear: right; font-size: 22px; font-weight: bold"
          >الجمهورية اللبنانية</span
        >
        <span class="right-side" style="clear: right;"
          >وزارة الداخلية و البلديات</span
        >
      </div>
      <div
        class="black-box"
        style="display: table; width: 100%; margin-top: 50px; padding: 5px 0; padding-right: 10px; line-height: 50px;"
      >
        <div>
          <span style="float: right;width:49px">:المحافظة</span>
          <input
            type="text"
            style="float: right; margin-right: 2%; width: 50%;"
            value="الجنوب"
            readonly="true"
          />
        </div>
        <div style="margin-top: 35px;">
          <span style="float: right; clear: right;width: 40px;">:القضاء</span>
          <input
            type="text"
            style="float: right; margin-right: 2%; width: 50%;"
            value="صيدا"
            readonly="true"
          />
        </div>
        <div style="margin-top: 35px;">
          <input
          type="text"
          style="float: right; clear: right;width: 97px;"
          value=":مختار بلدة / حي"
          readonly="true"
        />
          <input
            type="text"
            style="float: right; width: 50%;"
            value="عين الدلب"
            readonly="true"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12" style="border: 2px solid #000;">
      <span class="right-side">صاحب العلاقة</span>
      <input type="text" class="right-side w-75 mr-2" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10" style="border: 2px solid #000; border-top: 0">
      <div class="row">
        <div class="col-sm-12" style="border-bottom: 2px solid #000;">
          <span class="right-side">الاسم</span>
          <input formControlName="name" type="text" class="right-side w-75 mr-2" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" style="border-bottom: 2px solid #000;">
          <span class="right-side">اسم الأب</span>
          <input formControlName="Name_Father" type="text" class="right-side w-75 mr-2" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" style="border-bottom: 2px solid #000;">
          <span class="right-side">الشهرة</span>
          <input formControlName="last_name" type="text" class="right-side w-75 mr-2" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" style="border-bottom: 2px solid #000;">
          <span class="right-side">اسم وشهرة الأم</span>
          <input formControlName="mother_last_name" type="text" class="right-side w-75 mr-2" />
        </div>
      </div>
      <div class="row">
        <div
          class="col-sm-6"
          style="border-bottom: 2px solid #000; border-right: 2px solid #000;"
        >
          <span class="right-side">تاريخ الولادة</span>
          <input formControlName="Birth" type="text" class="right-side w-50 mr-2" />
        </div>
        <div class="col-sm-6" style="border-bottom: 2px solid #000;">
          <span class="right-side">محل الولادة</span>
          <input type="text" class="right-side w-50 mr-2" />
        </div>
      </div>
      <div class="row">
        <div
          class="col-sm-6"
          style="border-bottom: 2px solid #000; border-right: 2px solid #000;"
        >
          <span class="right-side">الوضع العائلي</span>
          <input type="text" class="right-side w-50 mr-2" />
        </div>
        <div class="col-sm-6" style="border-bottom: 2px solid #000;">
          <span class="right-side">الجنس</span>
          <input formControlName="Sex" type="text" class="right-side w-50 mr-2" />
        </div>
      </div>
      <div class="row">
        <div
          class="col-sm-3"
          style="border-bottom: 2px solid #000; border-right: 2px solid #000;"
        >
          <span class="right-side">محافظة</span>
          <input type="text" class="right-side w-50 mr-2" value="الجنوب" />
        </div>
        <div
          class="col-sm-3"
          style="border-bottom: 2px solid #000; border-right: 2px solid #000;"
        >
          <span class="right-side">القضاء</span>
          <input type="text" class="right-side w-50 mr-2" value="صيدا"/>
        </div>
        <div
          class="col-sm-3"
          style="border-bottom: 2px solid #000; border-right: 2px solid #000;"
        >
          <span class="right-side">رقم</span>
          <input formControlName="record" type="text" class="right-side w-50 mr-2" />
          <span class="right-side" style="clear: right;">السجل</span>
        </div>
        <div class="col-sm-3" style="border-bottom: 2px solid #000;">
          <span class="right-side">مكان القيد</span>
          <input type="text" class="right-side w-50 mr-2" />
          <span class="right-side" style="clear: right;">بلدة / حي</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" style="border-right: 2px solid #000;">
          <span class="right-side">تاريخ الاصدار</span>
          <input type="text" class="right-side w-50 mr-2" />
        </div>
        <div class="col-sm-3" style="border-right: 2px solid #000;">
          <span class="right-side">رقم</span>
          <input type="text" class="right-side w-50 mr-2" />
        </div>
        <div class="col-sm-3">
          <span class="right-side">نوع</span>
          <input type="text" class="right-side w-50 mr-2" />
          <span class="right-side" style="clear: right;">المستند</span>
        </div>
      </div>
    </div>
    <div
      class="col-sm-2"
      style="border: 2px solid #000; border-top: 0; border-left: 0;"
    >
      <span class="right-side">معلومات</span>
      <span class="right-side" style="clear: right">عن</span>
      <span class="right-side" style="clear: right;">صاحب العلاقة</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10" style="border: 2px solid #000; border-top: 0">
      <div class="row">
        <div
          class="col-sm-6"
          style="border-bottom: 2px solid #000; border-right: 2px solid #000;"
        >
          <span class="right-side">نوع المستند</span>
          <input type="text" class="right-side w-50 mr-2" />
        </div>
        <div class="col-sm-6" style="border-bottom: 2px solid #000;">
          <span class="right-side">الجنسية</span>
          <input type="text" class="right-side w-50 mr-2" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" style="border-right: 2px solid #000;">
          <span class="right-side">تاريخ الاصدار</span>
          <input type="text" class="right-side w-50 mr-2" />
        </div>
        <div class="col-sm-6">
          <span class="right-side">الرقم</span>
          <input type="text" class="right-side w-50 mr-2" />
        </div>
      </div>
    </div>
    <div
      class="col-sm-2"
      style="border: 2px solid #000; border-top: 0; border-left: 0;"
    >
      <span class="right-side">الشخص</span>
      <span class="right-side" style="clear: right">الأجنبي</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <div
        class="row"
        style="border-left: 2px solid #000; border-right: 2px solid #000;"
      >
        &nbsp;
      </div>
      <div class="row mt-1" style="border-left: 2px solid #000;">
        <div class="col-sm-12" style="border-right: 2px solid #000;">
          <span class="right-side">
            ه من ذوي السيرة الحسنة و الاخلاق الحميدة</span
          >
          <input
            type="text"
            class="right-side w-80 mr-2"
            style="border-bottom: 2px dotted #000;"
          />
        </div>
      </div>
      <div
        class="row"
        style="border-left: 2px solid #000; border-right: 2px solid #000;"
      >
        &nbsp;
      </div>
      <div
        class="row"
        style="border-left: 2px solid #000; border-right: 2px solid #000; border-bottom: 2px solid #000;"
      >
        &nbsp;
      </div>
    </div>
    <div
      class="col-sm-2"
      style="border: 2px solid #000; border-top: 0; border-left: 0;"
    >
      <span class="right-side">الافادة</span>
      <span class="right-side" style="clear: right;">عن</span>
      <span class="right-side" style="clear: right;">صاحب العلاقة</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 black-box" style="border-top: 0;">
      <span class="right-side">و بناء للطلب أعطيت ﻟ هذه الشهادة</span>
      <input type="text" class="right-side w-80 mr-2" />
    </div>
  </div>
  <div class="row" style="border: 2px solid #000; border-top: 0;">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
          <span class="right-side"> : هاتف</span>
          <input class="right-side" 
          type="text" 
          style="width: 40%;margin-right: 2%;" 
          value='٥٦١٦٩١/٣.'
          readonly="true"/>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
          <span class="right-side"> : اسم و شهرة المختار </span>
          <input class="right-side" 
          type="text" 
          style="width: 60%;margin-right: 2%;" 
          value="مارك الحاج"
          readonly="true"/>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <span
            class="right-side"
            style="font-weight: bold; text-decoration: underline;"
          >
            توقيع خاتم المختار
          </span>
        </div>
        <div class="col-sm-2"></div>
        <div
          class="col-sm-1 mt-3 mb-3 pb-3 pl-3 pr-3"
          style="border: 2px solid #000;"
        >
          <span class="right-side">طابع</span>
          <span class="right-side" style="clear: right;">المختار</span>
        </div>
        <div class="col-sm-1"></div>
        <div
          class="col-sm-1 mt-3 mb-3 pb-3 pl-3 pr-3"
          style="border: 2px solid #000;"
        >
          <span class="right-side">طابع مالي</span>
          <span class="right-side" style="clear: right; font-size: 10px;">
            ١٠٠٠ل.ل</span
          >
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</form>
</div>
