<div class="wrapper">
  <header class="main-header">
    <a href="" class="logo" style="height: 70px;padding-top: 10px;">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>M</b>A</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Mokhtar</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!--      <app-search (SearchName)="getName($event)" [names]="names"></app-search>-->
      <div class="navbar-custom-menu">
        <button class="btn btn-primary" *ngIf="isSearch" (click)="onShow()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar pt-8">
    <section class="sidebar pt-4">
      <ul class="sidebar-menu" data-widget="tree" style="white-space: normal !important;">
        <!-- Optionally, you can add icons to the links -->
        <li><a [routerLink]="''">
          <i class="fa fa-link"></i> <span>شخص جديد</span></a>
        </li>
        <li><a [routerLink]="'page1'"><i class="fa fa-link"></i> <span>لمن يهمه الامر</span></a></li>
        <li><a [routerLink]="'page2'"><i class="fa fa-link"></i> <span>إفادة حصر إرث</span></a></li>
        <li><a [routerLink]="'page3'"><i class="fa fa-link"></i> <span>طلب بيان قيد أو وثيقة من دائرة النفوس</span></a>
        </li>
        <li><a [routerLink]="'page4'"><i class="fa fa-link"></i> <span>شهادة حسن سلوك</span></a></li>
        <li><a [routerLink]="'page5'"><i class="fa fa-link"></i> <span>ٳفادة سكن</span></a></li>
        <li><a [routerLink]="'page6'"><i class="fa fa-link"></i> <span>تعهد سكن</span></a></li>
        <li><a [routerLink]="'page7'"><i class="fa fa-link"></i> <span>ٳفادة تعريف</span></a></li>
        <li><a [routerLink]="'page8'"><i class="fa fa-link"></i> <span>ٳفادة سكن خاص مصلحة تسجيل الآليات</span></a></li>
        <li><a [routerLink]="'page9'"><i class="fa fa-link"></i> <span> تفويض للحصول على بيان السجل العدلي</span></a>
        </li>
        <li><a [routerLink]="'page10'"><i class="fa fa-link"></i> <span> (ٳذن بالسماح بالسفر للابن (ة</span></a></li>
        <li><a [routerLink]="'page11'"><i class="fa fa-link"></i> <span>ٳفادة معيل</span></a></li>
        <li><a [routerLink]="'page12'"><i class="fa fa-link"></i> <span>ٳفادة للزوجة المعيلة</span></a></li>
        <li><a [routerLink]="'page13'"><i class="fa fa-link"></i> <span>ٳفادة تعريف اسم</span></a></li>

      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>


  <div class="content-wrapper">

    <section class="content container">
      <router-outlet></router-outlet>

    </section>
    <button class="btn btn-block btn-success d-print-none" (click)="onPrint()">طباعة</button>
  </div>


  <footer class="main-footer d-print-none">
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <strong>Copyright &copy; 2019 <a href="#">D & Y </a>.</strong> All rights reserved.
  </footer>
</div>


<!-- ./wrapper -->
