<form [formGroup]="eighthpage">
<div class="row">
            <div class="col-sm-4">
                <div><span style="float: right;">نموذج رقم (ٳ -  س - ٢  </span><span style="float: right;">(</span></div>
                <div class="black-box" style="margin-top: 70px; display: table; padding: 10px;">
                    <input type="text" class="w-25" style="margin-left: 25px; clear: right; border-bottom: 2px solid #000;">
                    <span style="float: right; clear: right;"> :الرقم المتسلسل</span>
                    <div style="margin-top: 30px;">
                        <span style="float: right;"> :التاريخ</span>
                        <input type="text" style="width: 10%; float: right; margin-right: 20px;">
                        <span style="float: right;">/</span>
                        <input type="text" style="width: 10%; float: right;">
                        <span style="float: right;">/</span>
                        <input type="text" style="width: 10%; float: right;">
                        <span style="float: right;">٢٠٢</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-5">
                <img class="title-text" style="margin-bottom: 20px;" src="../../assets/images/image001.jpg" alt="logo">
            </div>
            <div class="col-sm-4 mr-0 pr-0">
                <div style="display: table; width: 100%;"> 
                    <span class="right-side" style="margin-bottom: 5px; clear: right; font-size: 22px; font-weight: bold">الجمهورية اللبنانية</span>           
                    <span class="right-side" style="clear: right;">وزارة الداخلية و البلديات</span>
                </div>
                <div class="black-box" style="display: table; width: 100%; margin-top: 50px; padding: 5px 0; padding-right: 10px; line-height: 50px;">
                    <div>
                        <span style="float: right;width: 49px;">:المحافظة</span>
                        <input
                        type="text"
                        style="float: right; margin-right: 2%; width: 50%;"
                        value="الجنوب"
                        readonly="true"
                      />
                    </div>
                    <div style="margin-top: 35px;">
                        <span style="float: right; clear: right;width: 40px;">:القضاء</span>
                        <input
                        type="text"
                        style="float: right; margin-right: 2%; width: 50%;"
                        value="صيدا"
                        readonly="true"
                      />
                    </div>
                    <div style="margin-top: 35px;">
                        <input
                        type="text"
                        style="float: right; clear: right;width: 97px;"
                        value=":مختار بلدة / حي"
                        readonly="true"
                      />
                        <input
                        type="text"
                        style="float: right; width: 50%;"
                        value="عين الدلب"
                        readonly="true"
                      />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-1"></div>
            <div class="col-sm-9" style="font-size: 24px; font-weight: bold; border:2px solid #000; border-bottom:0;">
                <span class="right-side">ٳفادة سكن خاص مصلحة تسجيل الآليات</span>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row black-box">
            <div class="col-sm-12">
                <span class="right-side" style="font-weight: bold;">صاحب العلاقة</span>
                <input type="text" class="right-side mr-2" style="width: 80%;">
            </div>
        </div>
        <div class="row black-box" style="border-top:0">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-3">
                        <input formControlName="Name_Father" type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000; border-right: 2px solid #000;">
                        <span class="right-side">اسم الأب</span>
                    </div>
                    <div class="col-sm-5">
                        <input formControlName="name" type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <span class="right-side">الاسم</span>
                    </div>
                </div>
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-3">
                        <input formControlName="mother_last_name" type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-3" style="text-align: center; border-left: 2px solid #000; border-right: 2px solid #000;">
                        <span>اسم وشهرة الأم</span>
                    </div>
                    <div class="col-sm-4">
                        <input formControlName="last_name" type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <span class="right-side">الشهرة</span>
                    </div>
                </div>
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-3">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-3" style="text-align: center; border-left: 2px solid #000; border-right: 2px solid #000;">
                        <span class="right-side" style="font-size: 14px;">اسم و شهرة الزوج</span>
                    </div>
                    <div class="col-sm-1">
                        <input formControlName="Sex" type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000; border-right: 2px solid #000;">
                        <span class="right-side">الجنس</span>
                    </div>
                    <div class="col-sm-1">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <span class="right-side" style="font-size: 12px;">الوضع العائلي</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <input formControlName="record" type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000">
                        <span>رقم السجل</span>
                    </div>
                    <div class="col-sm-3" style="border-left: 2px solid #000;">
                        <input type="text" class="right-side" style="border-bottom: 2px solid #000; width: 20%;">
                        <span class="right-side">/</span>
                        <input type="text" class="right-side" style="border-bottom: 2px solid #000; width: 20%;">
                        <span class="right-side">/</span>
                        <input type="text" class="right-side" style="border-bottom: 2px solid #000; width: 40%;">
                    </div>
                    <div class="col-sm-3" style="border-right: 2px solid #000;">
                        <input formControlName="Birth" type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-3">
                        <span class="right-side">محل و تاريخ الولادة</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="font-weight: bold; font-size: 14px;">
                <span class="right-side">ألاسم و الشهرة</span>
                <span class="right-side" style="clear: right">(حسب الهوية)</span>
                <span class="right-side" style="clear: right;">معلومات عن </span>
                <span class="right-side" style="clear: right;">صاحب</span>
                <span class="right-side" style="clear: right;">العلاقة</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-3" style="border-left: 2px solid #000; border-right:2px solid #000;">
                        <span class="right-side">رقم المستند</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <span class="right-side">الجنسية</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 pl-0">
                <span class="right-side" style="font-weight: bold; font-size: 14px;">الشخص الأجنبي</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-3" style="border-left: 2px solid #000; border-right:2px solid #000;">
                        <span class="right-side">:ذات الرقم</span>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-sm-2 pl-0">
                <span class="right-side" style="font-weight: bold; font-size: 14px;">بعد التثبت من (١</span><span style="float: right;font-weight: bold;font-size: 14px;">:(</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-3">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-3" style="border-left: 2px solid #000; border-right:2px solid #000;">
                        <span class="right-side">القضاء</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <span class="right-side">المحافظة</span>
                    </div>
                </div>
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-3">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-3" style="border-left: 2px solid #000; border-right:2px solid #000;">
                        <span class="right-side">الحي</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <span class="right-side">البلدة / المدينة</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-1">
                        <span class="right-side">طابق</span>
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-right: 2px solid #000;">
                        <span class="right-side">بناية</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <span class="right-side">الشارع</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 pl-0">
                <span class="right-side" style="font-weight: bold; font-size: 14px;">عنوان السكن </span>
                <span class="right-side" style="font-weight: bold; font-size: 14px; clear:right;">الأساسي</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-12">
                <span class="right-side" style="font-weight: bold;">استنادا الى (٢</span><span style="float: right;font-weight: bold;">:(</span>
                <input type="text" class="right-side mr-2" style="width: 80%;">
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-3">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-3" style="border-left: 2px solid #000; border-right:2px solid #000;">
                        <span class="right-side">القضاء</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <span class="right-side">المحافظة</span>
                    </div>
                </div>
                <div class="row" style="border-bottom: 2px solid #000;">
                    <div class="col-sm-3">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-3" style="border-left: 2px solid #000; border-right:2px solid #000;">
                        <span class="right-side">الحي</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <span class="right-side">البلدة / المدينة</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-1">
                        <span class="right-side">طابق</span>
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-right: 2px solid #000;">
                        <span class="right-side">بناية</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <span class="right-side">الشارع</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 pl-0">
                <span class="right-side" style="font-weight: bold; font-size: 14px;">عنوان السكن </span>
                <span class="right-side" style="font-weight: bold; font-size: 14px; clear:right;">الحالي لصاحب</span>
                <span class="right-side" style="font-weight: bold; font-size: 14px; clear:right;">العلاقة</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-12">
                <span class="right-side" style="font-weight: bold;">استنادا الى (٢</span><span style="float: right;font-weight: bold;">:(</span>
                <input type="text" class="right-side mr-2" style="width: 80%;">
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10" style="border-right: 2px solid #000;">
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-1" style="border-right: 2px solid #000; border-left: 2px solid #000;">
                        <span class="right-side" style="font-size: 12px;">خليوي</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-1" style="border-left: 2px solid #000; border-right: 2px solid #000; font-size:12px;">
                        <span class="right-side">هاتف</span>
                        <span class="right-side" style="clear: right;">العمل</span>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-1" style="border-left: 2px solid #000;">
                        <span class="right-side">هاتف</span>
                        <span class="right-side" style="clear: right;">منزل</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 pl-0">
                <span class="right-side" style="font-weight: bold; font-size: 14px;">على مسؤولية</span>
                <span class="right-side" style="font-weight: bold; font-size: 14px; clear:right;">صاحب العلاقة</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-1" style="border-right: 2px solid #000; border-left: 2px solid #000;">
                        <span class="right-side" style="font-size: 12px;">فاكس</span>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                    <div class="col-sm-2" style="border-left: 2px solid #000;">
                        <span class="right-side" style="font-size: 12px;">ص . ب .</span>
                    </div>
                    <div class="col-sm-5" style="border-left: 2px solid #000;">
                        <input type="text" class="right-side mr-2" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-sm-2 pl-0">
                <span class="right-side" style="font-weight: bold; font-size: 14px;">:بريد الكتروني</span>
            </div>
        </div>
        <div class="row black-box" style="border-top:0;">
            <div class="col-sm-12">
                <span class="right-side" style="font-weight: bold;">:أعطيت هذه الافادة لأجل معاملة</span>
                <input type="text" class="right-side mr-2" style="width: 65%;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">.بطاقة هوية  أو  بيان قيد افرادي  أو  جواز سفر</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="right-side">.سند تمليك أو  سند ايجار</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                    <span class="right-side" style="font-weight: bold; text-decoration: underline;">:تحذير</span>
                    <span class="right-side">.ان اي تزوير  في المعلومات الواردة في هذا المستند يعرض صاحب العلاقة للملاحقة القانونية</span>
            </div>
        </div>
        <div class="row black-box">
            <div class="col-sm-4"></div>
            <div class="col-sm-1 mt-3 pb-3 pl-3 pr-3 black-box" style="border-bottom:0;">
                <span class="right-side">طابع مالي</span>
                <span class="right-side" style="clear: right; font-size: 10px;"> ١٠٠٠ل.ل</span>
            </div>
            <div class="col-sm-1 mt-3 pb-3 pl-3 pr-3 black-box" style="border-left: 0; border-bottom: 0;">
                <span class="right-side">طابع </span>
                <span class="right-side" style="clear: right; font-size: 10px;">المختار</span>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-1 mt-3 pb-3 pl-3 pr-3 black-box" style="border-bottom: 0;">
                <span class="right-side">طابع مالي</span>
                <span class="right-side" style="clear: right; font-size: 10px;"> ١٠٠٠ل.ل</span>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row black-box" style="border-top: 0;">
            <div class="col-sm-4">
                <span class="right-side" style="font-weight: bold;">اسم و توقيع و خاتم المختار</span>
                <input type="text" 
                class="right-side w-100 mr-2"
                value="مارك الحاج"
                readonly="true">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <span class="right-side" style="font-weight: bold;"> توقيع صاحب العلاقة </span>
                <input type="text" class="right-side w-100 mr-2">
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>