<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div><span style="float: right;">نموذج رقم ( إ . ع . ١</span><span style="float: right;">(</span></div>
      <div
        class="black-box"
        style="margin-top: 70px; display: table; padding: 10px;"
      >
        <input
          type="text"
          class="w-25"
          style="margin-left: 25px; clear: right; border-bottom: 2px solid #000;"
        />
        <span style="float: right; clear: right;"> :الرقم المتسلسل</span>
        <div style="margin-top: 30px;">
          <span style="float: right;"> :التاريخ</span>
          <input
            type="text"
            style="width: 10%; float: right; margin-right: 20px;"
          />
          <span style="float: right;">/</span>
          <input type="text" style="width: 10%; float: right;"/>
          <span style="float: right;">/</span>
          <input type="text" style="width: 10%; float: right;"/>
          <span style="float: right;">٢٠٢</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-5">
      <img
        class="title-text"
        style="margin-bottom: 20px;"
        src="../../assets/images/image001.jpg"
        alt="logo"
      />
      <span class="title-text" style="font-size: 22px;"> لمن يهمه الامر</span>
    </div>
    <div class="col-md-6">
      <div style="display: table; width: 100%;">
      <span
        class="right-side"
        style="margin-bottom: 5px; clear: right; font-size: 22px; font-weight: bold"
      >الجمهورية اللبنانية</span
      >
        <span class="right-side" style="clear: right;"
        >وزارة الداخلية و البلديات</span
        >
      </div>
      <div
        class="black-box"
        style="display: table; width: 100%; margin-top: 50px; padding: 5px 0; padding-right: 10px;"
      >
        <div>
          <span style="float: right; width: 49px;">:المحافظة</span>
          <input
            type="text"
            style="float: right; width: 80%;"
            value="الجنوب"
            readonly="true"
          />
        </div>
        <div style="margin-top: 35px;">
          <span style="float: right; clear: right;width: 40px;">:القضاء</span>
          <input
            type="text"
            style="float: right"
            value="صيدا"
            readonly="true"
          />
        </div>
        <div style="margin-top: 35px;">
          <input
          type="text"
          style="float: right; clear: right;width: 97px;"
          value=":مختار بلدة / حي"
          readonly="true"
        />
          <input
            type="text"
            style="float: right;"
            value="عين الدلب"
            readonly="true"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table>
        <tbody>
        <tr>
          <td>
            <span style="float: right;">:موضوع الافادة</span>
            <input type="text" style="float: right; width: 90%;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" style="float: right;"/>
          </td>
        </tr>
        <tr>
          <td>
            <span style="float: right;"
            >أعطيت هذه الافادة موقعة مني بناء للطلب</span
            >
            <input type="text" style="float: right; width: 70%;"/>
          </td>
        </tr>
        <tr>
          <td style="padding-bottom: 20px;">
            <div>
              <input
                type="text"
                style="float: left;margin-top: 20px;width: 15%;"
                value='٥٦١٦٩١/٣.'
                readonly="true"
              />
              <span style="float: left; margin-top: 20px; margin-left: 5px;"
              > : هاتف </span
              >

              <span style="float: right; margin-top: 20px;margin-left: 5px;"
              > : اسم و شهرة المختار </span
              >
              <input
                type="text"
                style="float: right;margin-top: 20px;width: 30%;"
                value="مارك الحاج"
                readonly="true"
              />
            </div>
            <div>
              <span
                style="float: left; clear: left; margin-left: 10%; margin-top: 15px; text-decoration: underline; font-weight: bold;"
              >ختم و توقيع المختار
              </span>
            </div>
            <div
              class="black-box"
              style="float: left; clear: left; margin-left: 35%; padding: 0 20px; padding-top:5px; padding-bottom: 50px;"
            >
              <span style="float: left;">طابع </span>
              <span style="float: left; clear: left;">مختار</span>
            </div>
            <div
              class="black-box"
              style="float: left; margin-left: 55px; padding: 0 5px; padding-top:5px; padding-bottom: 50px;"
            >
              <span style="float: left;">طابع مالي </span>
              <span style="float: left; clear: left;"> ١٠٠٠ل.ل</span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
