body {
  height: 100%;
  width: 100%;
  /* font-size: 2vh; */
}

.right-side {
  float: right;
}

.center {
  position: absolute;
  left: 50%;
  right: 50%;
}

.title-text {
  text-align: center;
  display: table;
  margin: 0 auto;
}

.black-box {
  border: 2px solid #000;
}

input,
input:hover {
  border: 0;
  outline: none;
  padding-bottom: 0px;
  padding-right: 5px;
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-decoration: none;
  margin-top: 50px;
}

tr {
  border: 2px solid #000;
}

table input {
  width: 100%;
}

.inner-td {
  border-right: 2px solid #000;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 0px;
  border: 2px solid #000;
}
::ng-deep .content {
  background-color: white;
}
