<div class="container-fluid">

<form [formGroup]="sixthpage">
<div class="row">
        <div class="col-sm-12">
          <span
            class="right-side mr-5"
            style="font-weight: bold; font-size: 2em;"
            >الجمهورية اللبنانية</span
          >
          <span
            class="right-side"
            style="clear: right; font-size: 2em; text-decoration: underline;"
            >وزارة الداخلية و البلديات</span
          >
          <span class="right-side" style="clear: right; font-size: 22px;"
            >:رقم</span
          >
          <input type="text" class="right-side" />
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-sm-12" style="text-align: center;">
          <span style="text-decoration: underline; font-size: 3em;"
            >تعهد سكن</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side">أنا الموقع ادناه</span>
          <input
           formControlName="Full_name"
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 20%;"
          />
          <span class="right-side">,</span>
          <span class="right-side">:والدتي</span>
          <input
          formControlName="mother_last_name"
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 20%;"
          />
          <span class="right-side">,</span>
          <span class="right-side">مكان و تاريخ الولادة </span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 5%;"
          />
          <span class="right-side">/</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 5%;"
          />
          <span class="right-side">/</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 5%;"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side">:رقم السجل</span>
          <input
          formControlName="record"
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 15%;"
          />
          <span class="right-side">:والمقيم في</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 60%;"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 20%;"
          />
          <span class="right-side">:رقم الهاتف:</span>
          <input
          formControlName="phone"
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 20%;"
          />
          <span class="right-side">/</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 20%;"
          />
          <span class="right-side">المهنة</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 20%;"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side mt-3 mb-3" style="font-weight: bold;"
            >:أصرح أمامكم أن المدعو</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side">:الاسم و الشهرة</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 22%;"
          />
          <span class="right-side">:اسم الأب</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 22%;"
          />
          <span class="right-side">:اسم الأم</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 22%;"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side">:تاريخ و محل الولادة</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 5%;"
          />
          <span class="right-side">/</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 5%;"
          />
          <span class="right-side">/</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 5%;"
          />
          <span class="right-side">:رقم و مكان القيد</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 15%;"
          />
          <span class="right-side">:الرقم الوطني</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 18%;"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side mt-3 mb-3">:وعائلته تتألف من</span>
        </div>
      </div>
      <div class="row black-box">
        <div class="col-sm-4"><input type="text" /></div>
        <div
          class="col-sm-4"
          style="border-left: 2px solid #000; border-right: 2px solid #000;"
        >
          <input type="text" />
        </div>
        <div class="col-sm-4"><input type="text" /></div>
      </div>
      <div
        class="row"
        style="border-left: 2px solid #000; border-right: 2px solid #000; border-bottom: 2px solid #000;"
      >
        <div class="col-sm-4"><input type="text" /></div>
        <div
          class="col-sm-4"
          style="border-left: 2px solid #000; border-right: 2px solid #000;"
        >
          <input type="text" />
        </div>
        <div class="col-sm-4"><input type="text" /></div>
      </div>
      <div
        class="row"
        style="border-left: 2px solid #000; border-right: 2px solid #000;"
      >
        <div class="col-sm-4"><input type="text" /></div>
        <div
          class="col-sm-4"
          style="border-left: 2px solid #000; border-right: 2px solid #000;"
        >
          <input type="text" />
        </div>
        <div class="col-sm-4"><input type="text" /></div>
      </div>
      <div class="row black-box">
        <div class="col-sm-4"><input type="text" /></div>
        <div
          class="col-sm-4"
          style="border-left: 2px solid #000; border-right: 2px solid #000;"
        >
          <input type="text" />
        </div>
        <div class="col-sm-4"><input type="text" /></div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <span class="right-side mt-3 mb-3" style="font-weight: bold;"
            >:يقيم لدي في</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <span class="right-side">:محافظة</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 25%;"
          />
          <span class="right-side">:قضاء</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 25%;"
          />
          <span class="right-side">:بلدة</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 25%;"
          />
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <span class="right-side">:شارع</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 42%;"
          />
          <span class="right-side">:ملك</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 42%;"
          />
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <span class="right-side">:بناية</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 42%;"
          />
          <span class="right-side">:طابق</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 42%;"
          />
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side mt-3" style="font-weight: bold;"
            >:و ٳني أتعهد بٳفادة الأمن العام عن أي تعديل و عند ٳخلائه
            المأجور</span
          >
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-4">
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 10%;"
          />
          <span class="right-side">/</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 10%;"
          />
          <span class="right-side">/</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 20%;"
          />
          <span class="right-side">في</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 20%;"
          />
        </div>
        <div class="col-sm-8"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side mt-3 mb-3">&nbsp;</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side"
            >نظر و صدق من قبلنا ٬ بعد أن حضر صاحب العلاقة ووقع أمامنا نحن</span
          >
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 15%;"
          />
          <span class="right-side">مختار</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 15%;"
          />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-4">
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 10%;"
          />
          <span class="right-side">/</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 10%;"
          />
          <span class="right-side">/</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 20%;"
          />
          <span class="right-side">في</span>
          <input
            type="text"
            class="right-side"
            style="border-bottom: 2px dotted #000; width: 20%;"
          />
        </div>
        <div class="col-sm-8"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side mt-3 mb-3">&nbsp;</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span
            class="right-side"
            style="font-weight: bold; text-decoration: underline;"
            >:المرفقات</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side"
            >. صورة عن هوية (موشحة بخاتم و توقيع المختار)</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="right-side"
            >.صورة عن سند ملكية أو ايجار (موشحة بخاتم و توقيع المختار)</span
          >
        </div>
      </div>
    </form>
</div>
