body {
    height: 100%;
    width: 100%;
    /* font-size: 2vh; */
  }
  .right-side {
    float: right;
  }
  input {
    text-align: right;
  }
  b{
      font-size: 20px;
  }
  i{
    font-size: 20px;
  }
  ::ng-deep .content {
    background-color: white;
  }

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
