<div class="loading-indicator"  *ngIf="isPreosn">
<mat-spinner></mat-spinner>
</div>
<form [formGroup]="homepage">
  <input class="d-none" formControlName="id">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="right-side">الاسم</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="right-side">اسم الأب</label>
            <input
              formControlName="Name_Father"
              type="text"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
          <label class="right-side">الشهرة</label>
          <input
            formControlName="last_name"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
          <label class="right-side">اسم و شهرة الأم</label>
          <input
            formControlName="mother_last_name"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
          <label class="right-side">تاريخ الولادة</label>
          <input
            formControlName="Birth"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
          <label class="right-side">رقم السجل</label>
          <input
            formControlName="record"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
          <label class="right-side">الجنس</label>
          <input
            formControlName="Sex"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
          <label class="right-side">المذهب</label>
          <input
            formControlName="Doctrine"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
          <label class="right-side">الجنسية</label>
          <input
            formControlName="Nationality"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
          <label class="right-side">رقم الهاتف </label>
          <input
            formControlName="phone"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-block btn-primary" (click)="onCreateNew()">
            <b>إضافة</b>&nbsp;&nbsp;<i class="fa fa-plus"></i>
          </button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-block btn-success" (click)="onEditUser()">
            <b>تعديل</b>&nbsp;&nbsp;<i class="fa fa-pencil"></i>
          </button>
        </div>
      </div>
    </div>
</form>
